@model RoomViewModel
@{
    ViewData["Title"] = "Home Page";
}

<table>
    <thead>
    <tr>
        <td>Номер аудитории</td>
        <td>Номер лампочки</td>
        <td>Статус</td>
        <td>Время</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var i in Model.Rooms)
    {
        @foreach (var j in i.Lamps)
        {
            <tr>
                <td>@i.Id</td>
                <td>@j.Id</td>
                @if (j.Glows)
                {
                    <td>Горит</td>
                }
                else
                {
                    <td>Не горит</td>
                }
                
                <td>@j.TimeStamp.ToString("f")</td>
            </tr>
        }
    }
    </tbody>
</table>